---
---

@import "{{ site.theme }}";

.wrapper {
	max-width: 850px;
}
section {
	max-width: 850px;
}
h1,h2,h3 {
	line-height: 2.0em;
	color: var(--Concrete);
}
h4,h5 {
	line-height: 1.7em;
}
h6 {
	line-height: 1.4em;
}
h3 {
	color: var(--Silver);
}
summary {
	cursor: pointer;
	color: var(--TangerineYellow);
}
summary:hover {
	cursor: pointer;
	color: var(--Flavescent);
}
section #title .credits.right {
	text-align: right;
}
code{
	padding: 0px;
	border-radius: 0px;
}
@-moz-keyframes spin180 { 0% { -moz-transform: rotate(0); } 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin180 { 0% { -webkit-transform: rotate(0); } 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin180 { 0% { transform: rotate(0); } 100% { transform: rotate(180deg); } }
.routes {
	display: flex;
	flex-direction: column;
	max-width: 848px;
	min-width: 548px;
	background-color: var(--CodGrey);
	border: 1px solid var(--Black);
	border-radius: 10px;
	padding: 15px;
}
.routesRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 3px;
}
.routesDesc {
	width: 100%;
}
.routesDesc a {
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}
.routesDesc a:hover {
	color: var(--SuperSilver);
}
.routesDesc table td {
	text-align: end;
}
.routesCol1,.routesCol3,.routesCol6 {
	width: 120px;
	text-align: right;
	padding-right: 8px;
}
.routesCol2,.routesCol4 {
	width: 210px;
}
.routesCol3 {
}
.routesCol4 {
}
.routesCol5 {
	min-width: fit-content;
	display: flex;
	font-size: 0.9em;
	justify-content: flex-start;
	align-items: center;
	color: var(--Soap);
}
.routesCol6 {
	width: 300px;
}
.routesCol2 input,.routesCol2 select,.routesCol4 input,.routesCol4 select {
	min-width: 200px;
	background-color: var(--Onyx);
	border: 1px solid currentColor;
	border-radius: 6px;
	color: var(--Eggshell);
	padding: 3px;
	font-size: 0.95em;
}
.routesCol2 input[type="number"] {
	min-width: 188px;
	padding-left: 7px;
}
.routesCol2 input[type="checkbox"] {
	min-width: 0;
	transform: translate(-4px,-2px);
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
	display: none;
}
.routesBoxes,.routesBoxes4j,.routesBoxes9j,.routesBoxesXj {
	display: flex;
	flex-direction: row;
	width: 10%;
}
.cblabel {
	line-height: 1.1;
	display: grid;
	text-align: right;
	grid-template-columns: 1.5em auto;
	gap: 0.5em;
	width: 15px;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--Onyx);
	margin: 4px;
	font: inherit;
	color: currentColor;
	width: 1.6em;
	height: 1.6em;
	border: 0.1em solid currentColor;
	border-radius: 0.3em;
	transform: translateY(-0.49em);
	display: grid;
	place-content: center;
}
input[type="checkbox"]::before {
	content: "";
	width: 1.6em;
	height: 1.6em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 2em 2em currentColor;
	transform-origin: center;
	/* Windows High Contrast Mode */
	background-color: CanvasText;
	
	clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}
.routesBoxes4j input[type="checkbox"]:before {
	clip-path: polygon(48.57% 7.81%, 16.8% 59.11%, 16.8% 71.88%, 54.17% 71.88%, 54.17% 91.8%, 72.66% 91.8%, 72.66% 71.88%, 82.81% 71.88%, 82.81% 57.29%, 72.66% 57.29%, 72.66% 7.81%, 48.57% 7.81%, 54.17% 22.66%, 54.17% 57.29%, 35.03% 57.29%, 54.17% 22.66%);
	transform: scale(0.75);
}
.routesBoxes9j input[type="checkbox"]:before {
	clip-path: polygon(49.07% 8.6%, 38.71% 11.14%, 31.18% 17.11%, 25.51% 26.69%, 23.95% 35.58%, 24.73% 45.75%, 31.18% 54.94%, 38.71% 59.34%, 50.34% 59.82%, 58.85% 55.33%, 55.82% 64.13%, 50.34% 70.19%, 42.72% 73.7%, 30.5% 75.07%, 30.5% 89.05%, 45.16% 87.98%, 57.38% 83.48%, 65.79% 76.74%, 71.16% 69.21%, 75.17% 58.85%, 77.03% 46.24%, 76.54% 34.7%, 73.7% 24.24%, 67.16% 14.57%, 59.92% 10.17%, 49.07% 8.6%, 53.08% 21.8%, 56.89% 26.78%, 58.55% 34.31%, 57.43% 42.67%, 52.1% 48.29%, 46.24% 47.51%, 42.52% 41.74%, 41.64% 34.02%, 43.21% 26.78%, 47.21% 21.9%, 53.08% 21.8%);
	transform: scale(0.8);
}
.routesBoxesXj input[type="checkbox"]:before {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	transform: scale(0.65);
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 850px;
	min-width: 575px;
	font-size: 0.97em;
	margin-right: 40px;
}
.tabsRadio {
	width: 0;
	height: 0;
	opacity: 0;
}
.tabsLabel {
	padding: 8px 10px;
	cursor: pointer;
	border: 1px solid var(--Black);
	border-bottom: 3px ridge var(--Black);
	border-radius: 10px 10px 0 0;
	background-color: var(--Sooty);
	margin-right: -1px;
	font-size: 1.4em;
}
.tabsContent {
	order: 1;
	width: 100%;
	display: none;
	border: 1px solid var(--Black);
	background-color: var(--CodGrey);
	padding: 12px 20px 0 20px;
	border-radius: 0 10px 10px 10px;
}
.tabsRadio:checked+.tabsLabel {
	color: var(--CrystalBell);
	background-color: var(--CodGrey);
	border-bottom: 3px ridge var(--Eagle);
}
.tabsRadio:focus+.tabsLabel {
	color: var(--DrWhite);
	background-color: var(--TheEnd);
}
.tabsRadio:checked+.tabsLabel+.tabsContent {
	display: initial;
}
.tabs code {
	font-size: 1.1em;
}
.stacksRoutesTable {
	display: grid;
	grid-template-columns: repeat(auto-fill,60px);
	column-gap: 2px;
	row-gap: 2px;
}
.stacksRoutesTableItem {
	text-align: right;
	position: relative;
}
.stacksRoutesKeyTable {
	display: grid;
	grid-template-columns: repeat(4,165px);
	column-gap: 4px;
	row-gap: 6px;
	
}
.stacksRoutesKeyTableItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.stacksRoutesKeyTableItem svg {
	transform: translate(0,0px);
	padding-right: 5px;
}
#svgdefs {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.routeArrow {
	width: 20px;
	height: 20px;
	margin-left: 2px;
	transform: translate(0,6px);
}
.routeArrowQT {
	fill: var(--ScreaminGreen);
}
.routeArrowNorm {
	fill: var(--Emperor);
}
.routeArrowReset {
	fill: currentColor;
}
.stkZone {
	text-decoration: underline;
	text-underline-position: under;
}
.firstTrcZone {
	position: absolute;
	top: 3px;
	left: 0;
	border-top: 1px solid var(--CarolinaBlue);
	width: 100%;
}
.trcZone {
	color: var(--CarolinaBlue);
}
.bosZone {
	color: var(--Sand);
}
.hitZone {
	color: var(--Carrot);
}
.armZone {
	color: var(--RedOrange);
}
.ttc {
	visibility: hidden;
	padding: 25px;
	border-radius: 5px;
	border: 1px solid var(--Black);
	background-color: var(--Lead);
	
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	left: 0px;
	bottom: 0px;
	transform: translate(0px, -40px);
	color: var(--Eggshell);
	pointer-events: none;
}
.ttcRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-wrap: nowrap;
}
.ttcLeft {
	padding-left: 20px;
}
.ttcTop {
	padding-top: 10px;
}
.stacksRoutesTableItem:hover .ttc {
	visibility: visible;
}
.formButton:active {
	position: relative;
	top: 1px;
}
.bigRedWarning,.littleRedWarning,.tinyRedWarning {
	background-color: var(--Black);
	border: 1px solid;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 1px;
}
.bigRedWarning {
	border-color: var(--CarminePink);
	color: var(--CarminePink);
}
.littleRedWarning {
	border-color: var(--Carrot);
	color: var(--Carrot);
}
.tinyRedWarning {
	border-color: var(--CarolinaBlue);
	color: var(--CarolinaBlue);
}
.updateContainer {
	display: flex;
	align-items: center;
	position: absolute;
	padding: 4px 10px;
	top: 12px;
	left: 10px;
	width: max-content;
	height: max-content;
	border-radius: 10px;
	z-index: 1;
	background-color: var(--EerieBlack);
	box-shadow: 2px 2px 10px var(--GoshawkGrey), -2px -2px 10px var(--GoshawkGrey), -2px 2px 10px var(--GoshawkGrey), 2px -2px 10px var(--GoshawkGrey);
}
.update {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 100%;
	overflow: hidden;
	min-width: 44px;
	min-height: 44px;
}
.update svg {
	fill: var(--AlienArmpit);
	-webkit-animation: spin180 1200ms ease-out infinite;
	-moz-animation: spin180 1200ms ease-out infinite;
	animation: spin180 1200ms ease-out infinite;
}
.updateContainer:hover div {
	background-color: var(--ShipGrey);
	transition: background-color 0.5s ease;
	cursor: pointer;
}
.updateContainer:hover label {
	transition: color 0.5s ease;
	color: var(--AlienArmpit);
}
.hidden {
	display: none;
}